/*
   Thursday, January 10, 20132:41:11 PM
   User: 
   Server: .
   Database: VacationManager
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.VacationRequests
	(
	RequestNumber bigint NOT NULL IDENTITY (1, 1),
	CreationDate datetime NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.VacationRequests SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.VacationRequests', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.VacationRequests', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.VacationRequests', 'Object', 'CONTROL') as Contr_Per 