<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <connectionStrings>
    <!-- You can use the scripts (.bat) from Code\VacationManager.Persistence for creating new, initializing new or updating existent database. -->
    <add name="VacationManagerContext" connectionString="Server=.;Database=VacationManager;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="Locator.svc" service="VacationManager.Services.VacationService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    
    <services>
      <service name="VacationManager.Services.VacationService" behaviorConfiguration="MEX">
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint address="" binding="netTcpBinding" contract="VacationManager.Common.ServiceContracts.IVacationRequestService"/>
        <endpoint address="" binding="netTcpBinding" contract="VacationManager.Common.ServiceContracts.IVacationStatusService"/>
        <endpoint address="" binding="netTcpBinding" contract="VacationManager.Common.ServiceContracts.IEmployeeService"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MEX">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
   
    <protocolMapping>
      <add scheme="net.tcp" binding="netTcpBinding"/>
    </protocolMapping>    
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
