<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <connectionStrings>
    <!-- You can use the scripts (.bat) from Code\VacationManager.Persistence for creating new, initializing new or updating existent database. -->
    <add name="VacationManagerContext" connectionString="Server=.;Database=VacationManager;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <!-- Uncomment and remove WcfPortal.svc from project if you want WAS to "generate" automaticaly svc file. -->
      <!-- Actual setup with existing svc is more suited for debugging since you'll get VS attached by default to the server side process. -->
      <!--<serviceActivations>
        <add relativeAddress="WcfPortal.svc" service="Csla.Server.Hosts.WcfPortal"/>
      </serviceActivations>-->
    </serviceHostingEnvironment>

    <bindings>
      <wsHttpBinding>
        <binding name="CslaBinding"
                 maxBufferPoolSize="1000000" maxReceivedMessageSize="1000000"
                 openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" />
      </wsHttpBinding>
    </bindings>
    
    <services>
      <service name="Csla.Server.Hosts.WcfPortal" behaviorConfiguration="returnFaults">
        <endpoint binding="wsHttpBinding" contract="Csla.Server.Hosts.IWcfPortal" bindingConfiguration="CslaBinding" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="returnFaults">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>
